<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>motion_capture_rigid_body</name>
  <version>1.0</version>
  <sdf version="1.9">motion_capture_rigid_body.sdf</sdf>

  <author>
    <name>Michael Carroll</name>
    <email>michael@openrobotics.org</email>
  </author>

  <description>
    A group of motion capture markers tracked as a rigid body
  </description>
</model>
