<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>motion_capture_system</name>
  <version>1.0</version>
  <sdf version="1.9">motion_capture_system.sdf</sdf>

  <author>
    <name>Michael Carroll</name>
    <email>michael@openrobotics.org</email>
  </author>

  <description>
  A motion capture system that publishes the poses of markers and rigid bodies over VRPN.
  </description>
</model>
