name: integration_tests
on:
  pull_request:
  push:
    branches: [ main ]
defaults:
  run:
    shell: bash
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        docker_image: ['ros:iron-ros-base']
    container:
      image: ${{ matrix.docker_image }}
    timeout-minutes: 60
    steps:
    - name: Install deps for Rust
      run: |
        apt update && apt install -y git curl libclang-dev
    - name: Setup Rust for nexus_zenoh_bridge
      uses: dtolnay/rust-toolchain@stable
      with:
        components: clippy, rustfmt
    - uses: actions/checkout@v2
    - uses: actions/cache@v3
      with:
        path: ~/.cache/ccache
        key: ccache
    - name: vcs
      run: |
        vcs import . < abb.repos
    - name: rosdep
      run: |
        apt update
        apt install -y clang clang-tools lld ccache
        colcon mixin add default https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml
        colcon mixin update default
        rosdep update
        rosdep install --from-paths . -yir
    - name: build
      run: /ros_entrypoint.sh colcon build --packages-up-to nexus_calibration nexus_integration_tests nexus_motion_planner --mixin release lld --cmake-args -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
    - name: Test - Unit Tests
      run: . ./install/setup.bash && RMW_IMPLEMENTATION=rmw_cyclonedds_cpp /ros_entrypoint.sh colcon test --packages-select nexus_motion_planner --event-handlers=console_direct+
    - name: Test - Integration Test
      run: . ./install/setup.bash && cd nexus_integration_tests && RMW_IMPLEMENTATION=rmw_cyclonedds_cpp /ros_entrypoint.sh python3 -m unittest
